.header-background {
  width: 100%;
  height: 954px;

  background-image: url(/src/img/background-header.jpg);
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.header-button {
  background-color: white;
  border-radius: 20px;

  box-shadow: 2px 2px 1px grey;

  text-align: center;
  font-size: 24px;

  padding: 10px 20px 10px 20px;
}
