@tailwind base;
@tailwind components;
@tailwind utilities;

/* Landing Page */

.navbar {

   & .name-logo {
      font-size:2rem;
   font-weighty:600;
   color:#335963;
   }
   & .searchbar-container {
      padding-left:25px;

      & .searchbar-input {
         margin-top: 9%;
         width: 40px;
         height: 40px;
         border-style: solid;
         border-radius: 20px;
         padding: 10px;
         background-color: #335963;
         outline: none;
         transition-duration: 500ms;
         cursor: pointer;
         background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAWpJREFUWEfNljFOxDAQRbehoKDnIjTcgYtwAHpOwhE4BA3Vig6Je9ABYZ60kZbVc5xkifRHelrleRzP2rGT3TAM0ahMQmUSKpNQmYTKJFQmoTIJlUmonMFlcV88FW/F5+GXazzt1m8xKjvcFh/FVNBOnvVfhMoJHorvgtgXzNZNcXX45RpPkEe+3Wc2KhswIwz6VTwWF4Xl4Wknj/yzZlKlwDM1LiuDW84p5BH0W/1MqhRYOoLla83cKeSNy01/y+miUmB3EksHGv8Y/a29i0qBI4RgI1h7C/IJ+lt7F5UC5xzBbrX2FuQT9Lf2LiqF+BmMfwbHgWJ3cfw5CEvfJD8FcVdY3ixUTrDkXTzGe3Fd2P26qOww92uGmaM4YnWRKmfAM8VssTs5QlrfgxR1VpEq/5mzilS5AauLVLkRq4pUuSHHRb4WlvMHlRtDkS/F85FrojIJlUmoTEJlEiqTUJmEyiRUJqEyh2H3Cz4WH1fC57RBAAAAAElFTkSuQmCC);
         background-repeat: no-repeat;
         font-family: 'Segoe UI';
         font-size: 15px;
         color: transparent;
         overflow: hidden;
      }

   }
   & .nav-menu {
      padding-left:20px;
      & li {
         font-size:1.2rem;
         color:#335963;
      }
   }

   & .nav-buttons {
      & button {
         background-color: white;
         color: #335963;
         border: 1px solid #335963;
         padding-bottom: calc(0.5em - 1px);
         padding-left: 1em;
         padding-right: 1em;
         padding-top: calc(0.5em - 1px);
         border-radius:5px;
      }
      & .background-solid {
         background-color:#335963;
         color:#FFF;
      }
   }
   & .menu-mobile {
      font-size:2rem;
   }
}
/* WIKI PAGE: SERGIO */

.search-box {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 2px;
   border-radius:10px;
   & form {
      position: relative;
      background: #FFF;
      border-radius: 0.7rem;
    }
    & input, button {
      height: 75px;
      border: 0;
      font-size: 1.8rem;
    }
    & input[type="search"] {
      outline: 0;
      width: 100%;
      padding: 0 1.6rem;
      border-radius: 10px;
      transition: all 0.3s;
      transition-property: width;
      position: relative;
    }
    & button {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 5rem;
      font-weight: bold;
      background: #FFF;
      border-radius: 0 .7rem .7rem 0;
      transition:all 0.2s;
    }
    & button:hover {
       background-color:#335963;
       border:1px solid #335963
    }
    & button i {
       color:#335963;
    }
    & button:hover i {
       color:#FFF;
    }
    & input:not(:placeholder-shown) {
      border-radius: .7rem 0 0 .7rem;
      width: calc(100% - 5rem);
      + button {
        display: block;
      }
    }
    & label {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }
}
.menu-bars {
   & #menuToggle {
   display: block;
   position: relative;
   z-index: 1;

   -webkit-user-select: none;
   user-select: none;
   }

   & #menuToggle a {
   text-decoration: none;
   color: #FFF;

   transition: color 0.3s ease;
   }

   & #menuToggle a:hover {
   color: tomato;
   }

   & #menuToggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;

   cursor: pointer;

   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */

   -webkit-touch-callout: none;
   }

   & #menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;

   background: #335963;
   border-radius: 3px;

   z-index: 1;

   transform-origin: 4px 0px;

   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
   }

   & #menuToggle span:first-child {
   transform-origin: 0% 0%;
   }

   & #menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
   }

   & #menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #FFF;
   }

   & #menuToggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
   }

   & #menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
   }

   & #menu {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   position: fixed;
   left:0;
   width: 300px;
   height:100vw;
   margin: -100px 0 0 0;
   padding: 25px;
   padding-top: 100px;

   background: #335963;
   -webkit-font-smoothing: antialiased;
   transform: translate(-100%, 0);
   transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
   }

   #menu li {
   padding: 10px 0;
   font-size: 22px;
   }

   #menuToggle input:checked ~ ul {
   transform: none;
   }
}

.cards {
   & .card-clickable {
      transition: all 0.2s;
      color:#335963;
      cursor:pointer;
   }
   & .card-clickable:hover {
      transform:scale(1.02);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
}

.modal-content {
   max-height: calc(95vh);
   overflow-y: auto;
   & .box-details {
      border-left:2px solid;
      padding-left:15px;
      width:70%;
   }
}
@media(max-width:992px) {
   .modal-content {
      & .box-details {
         border-left:0;
         padding-left:0;
      }
   }
}



