:root {
   --primaryColor: #335963;
   --secondaryColor: #c5c6c0;
   --tertiaryColor: #242734;
   --whiteColor: #ebebeb;
   --blackColor: #333;
}

/* ESTILOS SERGIO [FOOTER]*/

footer {
   margin-top:15px;
}

.footer-section {
   background-color:var(--primaryColor);
}
.footer-wrap {
   padding:5px;
}



.center-footer p {
   font-size:15px;
   color:var(--whiteColor);
}

.footer-logo{
padding: 10px;

}

.footer-logo p {
   font-size:15px;
   /* margin-top:-40px; */
   color:var(--whiteColor);
  
}
.nav-footer ul {
   text-align: center;
   justify-content: space-evenly;
   margin: 0px;
   padding: 0;
   
}
.nav-footer a {
   color:var(--whiteColor);
   font-weight:600;
}

.fix-position {
   position:relative;
}

.fa-color {
   color: white;
 }

 .icons-container{
   gap:20px;
   justify-content: space-evenly;
   
 }

